<div class="showcase-content">
  <h1>Plateforme de réservation de vol en parapente</h1>

  <p class="purple">Vous souhaitez faire un vol en parapente en tandem ? Vous êtes au bon endroit !</p>
  <button
    mat-flat-button
    color="primary"
    routerLink="/login">
    <mat-icon>shopping_cart</mat-icon>
    Réserver un vol
  </button>
  <br><br>

  <p class="blue">Tous les vols sont réalisés avec des indépendants diplômés</p>
  <button
    mat-flat-button
    color="accent"
    routerLink="/register">
    <mat-icon>verified</mat-icon>
    Devenir moniteur
  </button>
  <br><br>

</div>
