<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="page-container">

  <section class="daily-planning" *ngIf="!loading">
    <h1>Aujourd'hui</h1>

    <div class="controls">
      <button
        mat-stroked-button
        color="primary"
        (click)="removeAvailability()">
        Déclarer une absence
      </button>

      <button
        mat-button
        class="hide-on-mobile"
        color="primary"
        routerLink="/planning">
        Accéder au planning
      </button>

      <button
        mat-stroked-button
        color="primary"
        (click)="addAvailability()">
        Ajouter des disponibilités
      </button>
    </div>
    <app-planning-result [results]="results" (requestRefresh)="refreshPlanning()"></app-planning-result>
  </section>
</div>
