@use 'sass:map';

@import "colors";

.planning-row {
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: none;

  .mat-expansion-panel-header-title {
    .time {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .start {
        font-size: 20px;
        color: $gray-light;
      }

      .end {
        align-self: center;
        color: $border-dark;
      }
    }

  }

  .mat-expansion-panel-header-description {
    display: flex;
    justify-content: space-around;
  }

  &.mat-expanded {
    background: map.get($purple-palette, 100);

    .mat-expansion-panel-header-title {
      .start {
        color: map.get($purple-palette, 900) !important;
      }
      .end {
        color: $gray-light !important;
      }
    }

    .mat-expansion-panel-header-description {
      color: map.get($purple-palette, 700);
    }
  }
}

.result-container {
  opacity: 0;
  animation: fade-in 0.5s linear forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  margin: 20px 0;

  padding: 20px 0;
  background: rgba(255, 255, 255, 0.7);

  border-radius: 5px;
}

// error management
.mat-expansion-panel.error {
  background: #fac0c0;
}

.mat-expansion-panel.pending {
  background: #efc68c;
}

.mat-expansion-panel.confirmed {
  background: #a2daa2;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background: transparent;
}

// Slots card
.slot-card-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  gap: 15px;
}

.slot-card {
  background: #fff;

  border: 3px solid $gray-light;
  color: $gray-light;

  height: 150px;
  width: 120px;

  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: transform .3s ease;

  .type {
    display: flex;
    justify-content: space-evenly;

    padding-top: 5px;
    line-height: 15px;

    text-transform: uppercase;
    text-align: center;

    font-size: 12px;

    color: map.get($gray-palette, 300);
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .start {
      font-size: 20px;
      color: #68cf3b;
    }

    .end {
      align-self: center;
      color: $border-dark;
    }
  }

  .price {
    padding-bottom: 5px;
    line-height: 20px;

    font-size: 18px;
    font-weight: bold;

    color: map.get($purple-palette, 500);
  }

  .identity {
    text-transform: uppercase;
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .age {
      font-size: 10px;
      line-height: 10px
    }
  }
}

.slots-removal-button {
  padding-top: 20px;
  text-align: center;
}
