@import "theme";

h2 {
  text-align: center;
  margin: 20px 0;

  padding: 20px 0;
  background: var(--background-transparent);

  border-radius: 5px;
}

.slots-removal-button {
  padding-top: 20px;
  text-align: right;
}
