@import "toolbar";
@import "breakpoints";

.app-page {
  width: 100dvw;

  min-height: calc(100dvh - #{$toolbar-desktop});
  margin-top: $toolbar-desktop;

  @include tablet() {
    min-height: calc(100dvh - #{$toolbar-tablet});
    margin-top: $toolbar-tablet;
  }

  @include mobile-all() {
    min-height: calc(100dvh - #{$toolbar-mobile});
    margin-top: $toolbar-mobile;
  }

  &.ng-animating {
    overflow: hidden;

    height: 100dvh;
  }

  .app-page-container {
    max-width: 800px;
    margin: 0 auto;

    padding: 20px;
  }
}
