@import "toolbar";
@import "breakpoints";

.app-page {
  width: 100dvw;
  min-height: 100dvh;

  &.ng-animating {
    overflow: hidden;

    height: 100dvh;
  }

  .app-page-container {
    max-width: 800px;
    padding: 20px;

    margin: $toolbar-desktop auto 0;

    @include tablet() {
      margin-top: $toolbar-tablet;
    }

    @include mobile-all() {
      margin-top: $toolbar-mobile;
    }
  }
}
