@import "breakpoints";

.page-connect {
  header,
  main {
    max-width: 500px !important;
  }

  header {
    text-align: center;
  }

  mat-icon {
    color: var(--text);
  }

  .full-width {
    display: block;
    margin: 10px auto;
  }

  a.extra-link {
    font-size: 12px;
    font-weight: bold;
  }
}


.shake-on-error {
  @import "animations/shake";
  @include shake();

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}


