<h1 mat-dialog-title>
  <span *ngIf="periodInSameYear() && periodInSameMonth()">{{data.start|date: 'd'}} au {{data.end|date: 'd MMMM'}}</span>
  <span *ngIf="periodInSameYear() && !periodInSameMonth()">{{data.start|date: 'd MMMM'}} au {{data.end|date: 'd MMMM'}}</span>
  <span *ngIf="!periodInSameYear()">{{data.start|date: 'd MMMM YYYY'}} au {{data.end|date: 'd MMMM YYYY'}}</span>
</h1>

<div mat-dialog-content class="content">
  <mat-progress-bar mode="indeterminate" *ngIf="planning === undefined || loading"></mat-progress-bar>
  <div *ngIf="planning !== undefined">

    <div *ngIf="slotsInPeriod" class="slots-in-period-error">
      <div class="error">
        Des créneaux sont déjà présents dans cette période.
      </div>

      <div class="error-info">
        <div class="icon">
          <mat-icon>info</mat-icon>
        </div>
        <div>
          Mettre à jour les créneaux existants vous permettra de modifier les prix des créneaux déjà présents.
        </div>
      </div>

      <div class="error-actions">
        <mat-checkbox color="warn" [(ngModel)]="allowOverwrite" (change)="wipePeriod = !$event.checked">
          <span class="error-label">Mettre à jour les créneaux existants</span>
        </mat-checkbox>
        <mat-checkbox color="warn" [(ngModel)]="wipePeriod" (change)="allowOverwrite = !$event.checked">
          <span class="error-label">Supprimer tous les créneaux existants</span>
        </mat-checkbox>
      </div>
    </div>

    <section *ngFor="let hourPlanning of planning|keyvalue">
      <div class="header">
        <mat-checkbox
          color="primary"
          checked="true"
          [checked]="isAllSelected(hourPlanning.value)"
          [indeterminate]="isSomeSelected(hourPlanning.value)"
          (change)="selectAll($event.checked, hourPlanning.value)">
          <div class="time">{{hourPlanning.key}}</div>
        </mat-checkbox>

        <div class="label">{{hourPlanning.value.length}}  disponibilités</div>
      </div>

      <app-preview-slots-list [slots]="hourPlanning.value"></app-preview-slots-list>
    </section>
  </div>
</div>

<div mat-dialog-actions class="modal-buttons">
  <button mat-button (click)="closeModal()">Annuler</button>

  <button
    mat-flat-button
    color="primary"
    [class.spinner]="loading"
    [disabled]="loading || !hasSelectedSlots() || !isReadyToSubmit()"
    (click)="onSubmit()">
    Valider
  </button>
</div>
