@import "breakpoints";
@import "toolbar";

$height: 100dvh;

.app-wrapper {
  overflow-x: hidden;
}

.app-router-wrapper {
  overflow-x: hidden;

  &.ng-animating {
    position:  relative;

    min-width:  100%;
    min-height: 100dvh;
    overflow:  hidden;

    perspective:  1200px;
    transform-style:  preserve-3d;
  }
}

