@import "breakpoints";
@import "toolbar";

$height: 100dvh;

.app-wrapper {
  overflow-x: hidden;
}

.app-router-wrapper {
  overflow-x: hidden;

  &.ng-animating {
    position:  relative;

    min-width:  100%;
    min-height: 100dvh;
    overflow:  hidden;

    perspective:  1200px;
    transform-style:  preserve-3d;
  }
}

.bottom-bar {
  position:  fixed;
  z-index:   1;

  bottom: 0;
  left:   0;
  right:  0;

  background-color: var(--background-transparent);
  backdrop-filter: var(--blur);
  box-shadow: 0 -2px 4px var(--shadow);
}
