.results-empty {
  .container {
    margin: 20px 0;
    padding-bottom: 20px;
    background: var(--background-transparent);
    border-radius: 5px;
  }

  h3 {
    margin: 20px 10px 0 20px;
    display: inline-block;

    color: var(--text);
  }

  h4 {
    margin: 0 10px 0 20px;
    display: inline-block;

    color: var(--text);
  }

  mat-spinner {
    display: inline-block;

    height: 15px;
    width: 15px;
  }
}
