<div class="results-empty">
    <app-info type="pending" *ngIf="searching">
        Recherche des prochaines disponibilités...
    </app-info>

    <app-info type="error" *ngIf="!searching && result === null">
      Aucune disponibilité trouvée dans les 15 prochains jours
    </app-info>

    <div *ngIf="!searching && result !== null" #container>
      <app-info type="success">
        <h3 class="primary">Prochaine disponibilité trouvée</h3>
        <h4 class="primary"><b>{{result.query.date|date: 'EEEE d MMMM yyyy'|titlecase}}</b></h4>
      </app-info>

      <app-result [search]="result"></app-result>
    </div>
</div>

