.results-empty {

  h3 {
    display: inline-block;

    color: var(--text);
  }

  h4 {
    display: inline-block;

    color: var(--text);
  }

  mat-spinner {
    display: inline-block;

    height: 15px;
    width: 15px;
  }
}
