<form
  [ngClass]="{'shake-on-error form-error': shaking && loginForm.invalid}"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-label i18n="email|login form email field">Email</mat-label>
    <input
      matInput
      required
      autofocus
      type="text"
      formControlName="username"
      autocomplete="email">
    <mat-icon matSuffix>mail</mat-icon>
    <mat-error *ngIf="hasError(getUsername())" i18n>
      Entre ton email !
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width password-field">
    <mat-label i18n>Mot de passe</mat-label>
    <input
      matInput
      required
      #password
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      autocomplete="password">
    <mat-icon
      matSuffix
      (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'">
      {{hidePassword ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <mat-error *ngIf="hasError(getPassword())" i18n>
      Entre ton mot de passe !
    </mat-error>
  </mat-form-field>

  <div class="center">
    <button
      *ngIf="!showLoader"
      [disabled]="loginForm.invalid"
      mat-flat-button
      color="primary"
      type="submit"
      i18n>
      Connexion
    </button>
    <mat-spinner
      *ngIf="showLoader"
      diameter="37"
      style="margin: 0 auto">
    </mat-spinner>
  </div>

  <p class="right">
    <a class="primary extra-link" (click)="openPasswordResetRequestDialog()" i18n>Mot de passe oublié ?</a>
  </p>
</form>
