<div mat-dialog-content class="meeting-point">
  <google-map
    height="60vh"
    width="100%"
    [zoom]="16"
    [center]="{lat: slot.flyLocation.meetingPoint.latitude, lng: slot.flyLocation.meetingPoint.longitude}"
    [options]="options"
  >
    <map-marker
      [position]="{lat: slot.flyLocation.meetingPoint.latitude, lng: slot.flyLocation.meetingPoint.longitude}"
      [title]="slot.flyLocation.meetingPoint.name"
      [label]="slot.flyLocation.meetingPoint.description"
    >
    </map-marker>
  </google-map>
</div>

<div mat-dialog-actions class="meeting-point-button">
  <button mat-button mat-dialog-close>Fermer</button>
</div>
