@use "sass:map";

@import "colors";
@import "breakpoints";

.showcase-content {
  position: relative;
  z-index: 2;
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include mobile-all() {
    margin-top: 2rem;
  }
}

.showcase-content {
  h1 {
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;

    @include mobile-xs() {
      font-size: 2rem;
    }

    @include mobile-all() {
      font-size: 2rem;
    }
  }

  p {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;

    @include mobile-all() {
      font-size: 0.9rem;
    }

    &.purple {
      color: map-get($primary, 500);;
    }

    &.blue {
      color: #777;
    }
  }
}
