@import "colors";
@import "breakpoints";

h1.title {
  color: $blue;

  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 0;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

div.illustration {
  text-align: center;
  padding-top: 20px;

  img {
    width: 50%;
    min-width: 150px;
  }
}

form.password-reset-form {
  mat-icon {
    color: #777;
  }
}
