@use 'sass:map';

@import "colors";
@import "theme";

.slot-card-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  gap: 15px;
}

.slot-card {
  background: #fff;
  border: 3px solid map-get($gray, 400);
  color: map-get($gray, 400);

  @include theme-dark() {
    background: map-get($gray, 400);
    border: 3px solid map-get($gray, 900);
    color: map-get($gray, 900);
  }

  height: 150px;
  width: 120px;

  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: transform .3s ease;

  .type {
    display: flex;
    justify-content: space-evenly;

    padding-top: 5px;
    line-height: 15px;

    text-transform: uppercase;
    text-align: center;

    font-size: 12px;

    color: map.get($gray, 300);

    @include theme-dark() {
      color: map.get($gray, 50);
    }
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .start {
      font-size: 20px;
      color: #68cf3b;
    }

    .end {
      align-self: center;
      color: map-get($gray, 200);

      @include theme-dark() {
        color: map.get($gray, 100);
      }
    }
  }

  .price {
    padding-bottom: 5px;
    line-height: 20px;

    font-size: 18px;
    font-weight: bold;

    color: map.get($purple, 500);
  }

  .identity {
    text-transform: uppercase;
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .age {
      font-size: 10px;
      line-height: 10px
    }
  }
}
