<h1 mat-dialog-title class="title">Mot de passe oublié ?</h1>
<div mat-dialog-content>

  <div class="illustration">
    <img alt="" class="illustration" src="assets/illustration/undraw_forgot_password.svg">
  </div>

  <form class="password-reset-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        required
        autofocus
        type="text"
        formControlName="username"
        autocomplete="email">
      <mat-icon matPrefix>mail</mat-icon>
      <mat-error *ngIf="hasError(getUsername())">
            <span *ngIf="getUsername()?.errors?.['required']">
              Entre ton email
            </span>
        <span *ngIf="getUsername()?.errors?.['email']">
              Entre une adresse email valide
            </span>
        <span *ngIf="getUsername()?.errors?.['notFound']">
              Aucun compte existe pour cette adresse.
              <a routerLink="/customer/register" [queryParams]="{username: getUsername()?.value}" (click)="closeModal()" class="forgot-password">créez votre compte maintenant ?</a>
            </span>
      </mat-error>
    </mat-form-field>
  </form>

  <p>
    Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
  </p>
</div>
<div mat-dialog-actions class="modal-buttons">
  <button mat-button (click)="closeModal()">Annuler</button>
  <button
    mat-flat-button
    color="primary"
    [class.spinner]="loading"
    [disabled]="loading || resetPasswordForm.invalid"
    (click)="onSubmit()"
    cdkFocusInitial>Réinitialiser</button>
</div>





