<h1 mat-dialog-title class="title">Déclarer des disponibilités</h1>

<div mat-dialog-content class="content">
  <form [formGroup]="paramForm" (ngSubmit)="onSubmit()">
    <section>
      <h2>Période</h2>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date debut</mat-label>
        <input
          matInput
          [matDatepicker]="pickerStart"
          formControlName="start"
          placeholder="mm/dd/yyyy"
          (focus)="autoOpen && pickerStart.open()">
        <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart [touchUi]="toucheUi"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date de fin</mat-label>
        <input
          matInput
          [matDatepicker]="pickerEnd"
          formControlName="end"
          placeholder="mm/dd/yyyy"
          (focus)="autoOpen && pickerEnd.open()">
        <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd [touchUi]="toucheUi"></mat-datepicker>

        <mat-error *ngIf="getEndFormControl()?.errors?.['invalid_period']">
          La période est invalide.
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <h2>Lieu de vol</h2>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Lieu</mat-label>
        <mat-select formControlName="location" (selectionChange)="onLocationChange($event.value)">
          <mat-option *ngFor="let location of flyLocations" [value]="location.identifier">{{location.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section *ngIf="flyTypes.length > 0">
      <h2>Type de vol</h2>
      <ul class="fly-type-list" #container>
        <li *ngFor="let type of flyTypes">
          <mat-checkbox
            color="primary"
            (click)="slideToContent()"
            [(ngModel)]="type.selected"
            [ngModelOptions]="{standalone: true}">
            <h3>{{type.label}}</h3>
<!--            <p>Prix par vol</p>-->
          </mat-checkbox>

          <mat-form-field *ngIf="type.selected">
            <mat-label>Prix Client</mat-label>
            <input
              matInput
              placeholder="130€"
              type="number"
              [(ngModel)]="type.price"
              [ngModelOptions]="{standalone: true}">
            <mat-icon matPrefix>euro</mat-icon>
            <mat-hint class="left">
              -27% commission
              <span *ngIf="type.price !== null">
                : {{type.price - (type.price / 100 * 27)|currency: 'EUR': 'symbol-narrow': '1.0-2'}}
              </span>
            </mat-hint>
          </mat-form-field>
        </li>
      </ul>
    </section>
  </form>
</div>

<div mat-dialog-actions class="modal-buttons">
  <button mat-button (click)="closeModal()">Annuler</button>

  <button
    mat-flat-button
    color="primary"
    [class.spinner]="loading"
    [disabled]="loading || paramForm.invalid || flyTypeInvalid()"
    (click)="onSubmit()">
    Continuer
  </button>
</div>
