@use "sass:map";
@import "colors";
@import "breakpoints";

h1.title {
  color: var(--accent);

  font-size: 20px;
  line-height: 20px;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 0;
  padding-bottom: 0;
}

.content {
  padding-bottom: 0;

  section {
    h2 {
      color: var(--primary);

      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }

    ul.activity-type-list {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 25px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include mobile-xs() {
          align-items: baseline;
          flex-direction: column;

          mat-form-field {
            width: 100%;
          }
        }

        h3 {
          margin: 0;
          color: var(--accent);
          line-height: 16px;
          font-weight: 500;
        }

        p {
          margin: 0;
          color: var(--text-light);
        }
      }
    }
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}
