<mat-card class="light-card">
  <mat-card-content *ngIf="searchForm">

    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

      <div class="search-form-grid">
        <div class="title">
          <h1>Réserve ton vol</h1>
        </div>
        <div class="input1">
          <mat-form-field appearance="fill">
            <mat-label>Lieu</mat-label>
            <mat-select formControlName="location" (selectionChange)="onLocationChange($event.value)">
              <mat-option *ngFor="let location of flyLocations" [value]="location.identifier">{{location.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input2">
          <mat-form-field appearance="fill">
            <mat-label>Type de vol</mat-label>
            <mat-select formControlName="flyType" (selectionChange)="trySubmit()">
              <mat-option *ngFor="let type of flyTypes" [value]="type.identifier">{{type.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input3">
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" (focus)="autoOpen && picker.open()" (dateChange)="trySubmit()" placeholder="mm/dd/yyyy">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [touchUi]="toucheUi"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="input4">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de personnes</mat-label>
            <mat-select formControlName="person" (selectionChange)="trySubmit()">
              <mat-option value="1">1 Personnes</mat-option>
              <mat-option value="2">2 Personnes</mat-option>
              <mat-option value="3">3 Personnes</mat-option>
              <mat-option value="4">4 Personnes</mat-option>
              <mat-option value="5">5 Personnes</mat-option>
              <mat-option value="6">6 Personnes</mat-option>
              <mat-option value="7">7 Personnes</mat-option>
              <mat-option value="8">8 Personnes</mat-option>
              <mat-option value="9">9 Personnes</mat-option>
              <mat-option value="10">10 Personnes</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </form>

  </mat-card-content>
</mat-card>
