.mat-toolbar {
  padding: 0;
  color: var(--text-dark);

  background: var(--background-transparent);
  backdrop-filter: var(--blur);

  border-bottom: 1px solid var(--border-light);

  &.transparent {
    background: transparent;
    backdrop-filter: none;
    border-bottom: none;

    .navigation-button {
      background: var(--background-transparent);
      backdrop-filter: var(--blur);

      border-radius: 10px;
    }
  }
}
