.mat-expansion-panel-header {
  font-family: var(--font-title);
  font-size: 14px;
  font-weight: 500;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator:after {
  color: var(--text-light);
}
