@import "theme";

// Fixing animations
// temporary fix for expansion panels until Angular Material Issue is fixed,
// see https://github.com/angular/material2/issues/13870
mat-accordion mat-expansion-panel {
  mat-expansion-panel-header {
    height: 40px; // height may be different for you
  }
  .mat-expansion-panel-content {
    height: 0;
  }
  &.mat-expanded {
    mat-expansion-panel-header {
      height: 64px; // height may be different for you
    }
    .mat-expansion-panel-content {
      height: auto;
    }
  }
}

.mat-accordion.airy {
  .mat-expansion-panel {
    margin: 10px 0;
    box-shadow: none;

    background: var(--background-transparent);

    @import "animations/fade-in";
    @include fade-in(0.5s);
  }

  .mat-expansion-panel:hover {
    background: var(--background-dark);

    .mat-expansion-panel-header-title {
      span {
        color: var(--primary-dark);
      }

      .start {
        color: var(--primary-dark) !important;
      }

      .end {
        color: var(--text) !important;
      }
    }

    .mat-expansion-panel-header-description {
      color: var(--primary-dark);
    }
  }

  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover {
    background: transparent;
  }

  // Show Time as Title
  .mat-expansion-panel-header-title {
    .time {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        font-size: 16px;
        color: var(--text);
      }

      .start {
        font-size: 20px;
        color: var(--green);
      }

      .end {
        align-self: center;
        font-size: 14px;
        color: var(--text-light);
      }
    }
  }

  .mat-expansion-panel-header {
    font-family: var(--font-title);
    font-size: 14px;
    font-weight: 500;
  }

  .mat-expansion-panel-header-description, .mat-expansion-indicator:after {
    color: var(--text-light);
  }

  .mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
  }

  .mat-expansion-panel-header-description {
    color: var(--text-light);
  }

  .mat-expansion-panel.mat-expanded {
    background: var(---background-primary);

    .mat-expansion-panel-header-title {
      span {
        color: var(--primary-dark);
      }

      .start {
        color: var(--primary-dark) !important;
      }

      .end {
        color: var(--text) !important;
      }
    }

    .mat-expansion-panel-header-description {
      color: var(--primary-dark);
    }
  }

  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: transparent;
  }

  // error management
  .mat-expansion-panel.error {
    background: #fff1f1;

    .mat-expansion-panel-header-description {
      justify-content: flex-start;
      color: #b64646;
    }
  }

  .mat-expansion-panel.pending .mat-expansion-panel-header-description {
    justify-content: flex-start;
    color: #d5a15a;
  }

  .mat-expansion-panel.confirmed .mat-expansion-panel-header-description {
    justify-content: flex-start;
    color: #6eb76e;
  }
}
