.mat-mdc-dialog-container .mdc-dialog__content {
    font-family: var(--font-text);
    line-height: var(--mdc-dialog-supporting-text-line-height, 14px);
    font-size: var(--mdc-dialog-supporting-text-size, 14px);
    font-weight: var(--mdc-dialog-supporting-text-weight, 500);
    letter-spacing: var(--mdc-dialog-supporting-text-tracking, 1px);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background: var(--background-overlay) !important;
  backdrop-filter: blur(var(--blur));
}

h1.mdc-dialog__title {
  color: var(--accent) !important;
  font-size: 20px !important;
  line-height: 20px !important;
  font-weight: bold !important;
  padding: 0 24px 20px 24px !important;
  margin-bottom: 0 !important;
  text-transform: uppercase !important;
}

.mat-mdc-dialog-container .modal-buttons {
  display: flex;
  justify-content: space-between;
}
