img.logo {
  max-width: 80%;

  display: block;
  margin: 0 auto;

  @import "animations/fade-in";
  @include fade-in(1s);
}

.search-form-slider {
  @import "animations/slide-up";
  @include slide-up();
}



