.top-loader {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.search-container {
  max-width: 800px;
  margin: 0 auto;

  padding: 20px;

  img {
    max-width: 80%;

    display: block;
    margin: 0 auto;
  }

  hr {
    margin: 50px 0;
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
}
