<mat-progress-bar mode="indeterminate" *ngIf="loading" class="top-loader"></mat-progress-bar>

<div class="page-container search-container">
  <section>
    <picture>
      <source srcset="{{logoUrl.dark.large}}" media="(prefers-color-scheme: dark)">
      <img class="logo" src="{{logoUrl.light.large}}" alt="Logo">
    </picture>
    <div class="search-form-slider">
      <app-search-form [urlParamQuery]="urlParamQuery" (query)="requestResults($event)"></app-search-form>
    </div>
  </section>

  <section class="results-container" #container>
      <app-result [search]="search"></app-result>
  </section>

  <section *ngIf="!loading && searched && search.results && search.results.size === 0">
    <app-search-next-availability [query]="currentQuery"></app-search-next-availability>
  </section>
</div>

