.top-loader {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.search-container {
  img {
    max-width: 80%;

    display: block;
    margin: 0 auto;

    @import "animations/fade-in";
    @include fade-in(1s);
  }

  overflow: hidden;
  .search-form-slider {
    @import "animations/slide-up";
    @include slide-up();
  }
}



