@import "breakpoints";
@import "toolbar";
@import "theme";

// Toolbar Height definitions
.mat-toolbar-row {
  padding: 0 10px;

  height: $toolbar-desktop;

  @include tablet() {
    height: $toolbar-tablet;
  }

  @include mobile-all() {
    height: $toolbar-mobile;
  }
}

.logo {
  padding: 0 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  .logo-button,
  img {
    padding: 0;
    height: calc(#{$toolbar-desktop} - 10px);

    @include tablet() {
      width: auto;
      height: calc(#{$toolbar-tablet} - 15px);
    }

    @include mobile-all() {
      width: auto;
      height: calc(#{$toolbar-mobile} - 15px);
    }
  }
}

// Sticky toolbar
.toolbar-wrapper {
  z-index: 10;
  min-width: 100%;

  &.sticky {
    position: fixed;
    top: 0;
  }
}

// Styles for the navigation component
.toolbar {
  .row {
    width: auto;
  }

  &.fadeOut {
    opacity: 0;
    transition: all 3s ease-in-out;
  }
}

.space-between{
  display: flex;
  justify-content: space-between;
}
