<div class="app-page page-connect background-two">
  <nav>
    <app-navigation [transparent]="true"></app-navigation>
  </nav>

  <header>
    <h1 class="connect-title">Connexion</h1>
  </header>

  <main>
    <div>
      <mat-card>
        <mat-card-content>
          <app-login></app-login>
        </mat-card-content>
      </mat-card>

      <p class="right">
        <a class="accent extra-link" routerLink="/customer/register">Pas encore de compte ?</a>
      </p>
    </div>
  </main>
</div>





