<h1 mat-dialog-title class="title">réinitialiser votre mot de passe</h1>
<div mat-dialog-content>

  <div class="illustration">
    <img alt="" class="illustration" src="assets/illustration/undraw_secure_login.svg">
  </div>

  <form class="password-reset-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Token</mat-label>
      <input
        matInput
        required
        autofocus
        type="text"
        formControlName="token">
      <mat-icon matPrefix>token</mat-icon>
      <mat-error class="big-error" *ngIf="hasError(getToken())">
        <span *ngIf="getToken()?.errors?.['invalid']">
          Votre token est invalide ou à expiré.
        </span>
      </mat-error>
    </mat-form-field>

    <div [class.hide]="hasError(getToken())">
      <p>
        Entrez votre nouveau mot de passe, puis confirmez-le.
      </p>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          required
          #password
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          autocomplete="password"
          placeholder="Mot de passe">
        <mat-icon matPrefix>key</mat-icon>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="hasError(getPassword())">
          Entre ton mot de passe !
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Confirmation</mat-label>
        <input
          matInput
          required
          #password
          [type]="hidePassword2 ? 'password' : 'text'"
          formControlName="password2"
          autocomplete="password_repeat"
          placeholder="Comfirmes ton mot de passe">
        <mat-icon matPrefix>key</mat-icon>
        <button mat-icon-button matSuffix (click)="hidePassword2 = !hidePassword2" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword2">
          <mat-icon>{{hidePassword2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="hasError(getPassword2())">
          <span *ngIf="getPassword2()?.errors?.['required']">
            Comfirmes ton mot de passe !
          </span>
          <span *ngIf="getPassword2()?.errors?.['different']">
            Les mots de passe ne correspondent pas
          </span>
        </mat-error>
      </mat-form-field>

      <p>
        <small>Votre mot de passe doit contenir au moins 8 caractères, dont une lettre majuscule, une lettre minuscule et un chiffre.</small>
      </p>
    </div>

  </form>
</div>

<div mat-dialog-actions class="modal-buttons">
  <button
    *ngIf="!hasError(getToken())"
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
    cdkFocusInitial>
    Réinitialiser
  </button>

  <button
    *ngIf="hasError(getToken())"
    mat-flat-button
    color="primary"
    (click)="openRequestResetPasswordDialog()"
    cdkFocusInitial>
    Faire une nouvelle demande
  </button>
</div>





