@import "colors";
@import "breakpoints";

h1.title {
  color: $blue;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

div.illustration {
  text-align: center;
  padding-top: 20px;

  img {
    width: 50%;
    min-width: 150px;
  }
}

p.helper {
  margin-top: 20px;
}

mat-error a {
  display: block;
  text-align: right;
  color: $purple;
}

form.password-reset-form {
  mat-icon {
    color: #777;
  }
}
