<div class="card-container">
  <div *ngFor="let slot of slots">
    <a class="card planning-slot">
      <div class="type">
        <span>
          {{slot.activityType.name}}<br>
          <small class="duration">~ {{slot.averageActivityDuration|duration}} minutes</small>
        </span>
      </div>

      <span class="time">
        <span class="start">{{slot.startAt}}</span>
        <span class="end">{{slot.endAt}}</span>
      </span>

      <span class="price">
        {{slot.price|currency: 'EUR': 'symbol-narrow': '1.0-2'}}
      </span>
    </a>
    <div class="center">
      <mat-checkbox
        color="primary"
        checked="true"
        [(ngModel)]="slot.selected"
        [ngModelOptions]="{standalone: true}">
      </mat-checkbox>
    </div>
  </div>
</div>
