@import "breakpoints";
@import "toolbar";

$height: 100dvh;

.app-wrapper {
  width: 100%;
  height: $height;
}

.app-page {
  padding-top: $toolbar-desktop;
  min-height: calc($height - $toolbar-desktop);

  @include tablet {
    padding-top: $toolbar-tablet;
    min-height: calc($height - $toolbar-tablet);
  }

  @include mobile-all {
    padding-top: $toolbar-mobile;
    min-height: calc($height - $toolbar-mobile);
  }
}

