<mat-toolbar class="toolbar" [ngClass]="{'fadeOut': false}">
  <mat-toolbar-row class="space-between">
    <!-- 'absorbs' the auto-focus behavior -->
    <button mat-button style="height: 0; position: absolute;" aria-label="disable-auto-focus"></button>

    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/home">
      <img class="logo" src="/assets/logo.png" height="50">
    </a>

    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
      <mat-icon matBadge="1">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Connexion</span>
      </button>
      <button mat-menu-item routerLink="/register">
        <mat-icon>person_add</mat-icon>
        <span>Inscription</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
