<div mat-dialog-content class="add-to-card">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div *ngIf="!loading">

    <div class="slot-info">
      <div class="date-wrapper">
        <span class="date">{{slot.startAt|date: 'dd MMMM YYYY'}}</span>
      </div>
      <span class="time">
          <span class="start">{{slot.startAt|date: 'HH:mm'}}</span>
          <span class="end">{{slot.endAt|date: 'HH:mm'}}</span>
        </span>
    </div>

    <div class="slot-card">
      <div class="monitor-profile">
        <img
          src="assets/illustration/undraw_profile_picture.svg"
          alt="{{slot.monitor.identity.firstName | titlecase}} {{slot.monitor.identity.lastName | uppercase}}"
        />
        <div class="monitor-info">
          <div class="name">
            {{slot.monitor.identity.firstName | titlecase}} {{slot.monitor.identity.lastName | uppercase}}
          </div>
          <span class="rank">
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star_outline</mat-icon>
            </span>
        </div>
      </div>

      <div class="slot-price">
        <h1>{{slot.price|currency: 'EUR': 'symbol-narrow': '1.0-2'}}</h1>
        <h2>{{slot.type|flyType}}</h2>
      </div>
    </div>

    <div class="address">
      <div class="label">
        Lieu de rendez-vous:
      </div>
      <div class="address-content">
        <div class="direction">
          {{slot.flyLocation.meetingPoint.name}},<br>
          {{slot.flyLocation.meetingPoint.address.street}},<br>
          <b>
            {{slot.flyLocation.meetingPoint.address.zipCode}}
            {{slot.flyLocation.meetingPoint.address.city | uppercase}},
            {{slot.flyLocation.meetingPoint.address.country | titlecase}}
          </b>
        </div>
        <div class="action">
          <button mat-icon-button (click)="openMeetingPointDialog()">
            <mat-icon>map</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="address">
      <div class="label">
        Décollage:
      </div>
      <div class="address-content">
        <div class="direction">
          {{slot.flyLocation.takeOffPoint.name}},<br>
          {{slot.flyLocation.takeOffPoint.address.street}},<br>
          <b>
            {{slot.flyLocation.takeOffPoint.address.zipCode}}
            {{slot.flyLocation.takeOffPoint.address.city | uppercase}},
            {{slot.flyLocation.takeOffPoint.address.country | titlecase}}
          </b>
        </div>
        <div class="action">
          <button mat-icon-button (click)="openFlyMapDialog()">
            <mat-icon>flight_takeoff</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="address">
      <div class="label">
        Atterrissage:
      </div>
      <div class="address-content">
        <div class="direction">
          {{slot.flyLocation.landingPoint.name}},<br>
          {{slot.flyLocation.landingPoint.address.street}},<br>
          <b>
            {{slot.flyLocation.landingPoint.address.zipCode}}
            {{slot.flyLocation.landingPoint.address.city | uppercase}},
            {{slot.flyLocation.landingPoint.address.country | titlecase}}
          </b>
        </div>
        <div class="action">
          <button mat-icon-button (click)="openFlyMapDialog()">
            <mat-icon>flight_land</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<div mat-dialog-actions class="modal-buttons">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-raised-button color="primary" class="buy-button">
    <mat-icon>shopping_cart</mat-icon>
    Réserver
  </button>
</div>
