<mat-sidenav-container class="chat">

  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" class="chat-sidenav" [opened]="isOpened">
    <app-chat-list
      [rooms]="rooms"
      [current]="current"
      (selected)="switchTo($event)">
    </app-chat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-chat-list *ngIf="isMobile && current === null"
      [rooms]="rooms"
      [current]="current"
      (selected)="switchTo($event)">
    </app-chat-list>

    <app-chat-room [room]="current" *ngIf="current !== null"></app-chat-room>
  </mat-sidenav-content>

</mat-sidenav-container>

