
// Animation: raise background img from bottom
@mixin animation-background-raise() {
  background-position: 0 200%;
  animation: background-raise 0.75s linear 0.1s forwards;

  @keyframes background-raise {
    from {
      background-position: 0 200%;
    }
    to {
      background-position: bottom;
    }
  }
}

// Animation: fade in
@mixin fade-in() {
  opacity: 0;
  animation: fade-in 0.5s linear forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}


