<div>
  <div class="login-container"
       [ngClass]="{'shake-on-error form-error': shaking && loginForm.invalid}">

    <div class="login">
      <div class="login-header">
        <h1 class="login-title">Connexion</h1>
      </div>
      <form [formGroup]="loginForm"
            (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            required
            autofocus
            type="text"
            formControlName="username"
            autocomplete="email">
          <mat-icon matPrefix>mail</mat-icon>
          <mat-error *ngIf="hasError(getUsername())">
            Entre ton email !
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width password-field">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            required
            #password
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            autocomplete="password">
          <mat-icon matPrefix>key</mat-icon>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="hasError(getPassword())">
            Entre ton mot de passe !
          </mat-error>
        </mat-form-field>

        <div class="row buttons">
          <p class="button-container">
            <button
              *ngIf="!showLoader"
              [disabled]="loginForm.invalid"
              mat-flat-button
              color="primary"
              type="submit">
              Connexion
            </button>
            <mat-spinner *ngIf="showLoader"
                         diameter="37"
                         style="margin: 0 auto"></mat-spinner>
          </p>
        </div>

        <p class="forgot-password">
          <a (click)="openPasswordResetDialog()">Mot de passe oublié ?</a>
        </p>

      </form>
    </div>
  </div>

</div>





