<div role="group" class="phone-input-container"
     [formGroup]="parts"
     [attr.aria-labelledby]="_formField.getLabelId()"
     (focusin)="onFocusIn()"
     (focusout)="onFocusOut($event)">
  <span class="phone-input-spacer">+</span>
  <input class="phone-input-element"
         formControlName="indicatif"
         maxLength="2"
         size="2"
         aria-label="Indicatif"
         inputmode="numeric"
         pattern="\d*"
         (input)="_handleInput(parts.controls.indicatif, type)"
         (keyup.arrowRight)="_handleInput(parts.controls.indicatif, type)"
         #indicatif>
  <span class="phone-input-spacer">&nbsp;</span>
  <input class="phone-input-element"
         formControlName="type"
         maxLength="1"
         size="1"
         aria-label="Digit 1"
         inputmode="numeric"
         pattern="\d*"
         (input)="_handleInput(parts.controls.type, part1)"
         (keyup.arrowRight)="_handleInput(parts.controls.type, part1)"
         (keyup.backspace)="autoFocusPrev(parts.controls.type, indicatif)"
         (keyup.delete)="autoFocusPrev(parts.controls.type, indicatif)"
         (keyup.arrowLeft)="autoFocusPrev(parts.controls.type, indicatif)"
         #type>
  <span class="phone-input-spacer">&nbsp;</span>
  <input class="phone-input-element"
         formControlName="part1"
         maxLength="2"
         size="2"
         aria-label="Digit 2-3"
         inputmode="numeric"
         pattern="\d*"
         (input)="_handleInput(parts.controls.part1, part2)"
         (keyup.arrowRight)="_handleInput(parts.controls.part1, part2)"
         (keyup.backspace)="autoFocusPrev(parts.controls.part1, type)"
         (keyup.delete)="autoFocusPrev(parts.controls.part1, type)"
         (keyup.arrowLeft)="autoFocusPrev(parts.controls.part1, type)"
         #part1>
  <span class="phone-input-spacer">&nbsp;</span>
  <input class="phone-input-element"
         formControlName="part2"
         maxLength="2"
         size="2"
         aria-label="Digit 4-5"
         inputmode="numeric"
         pattern="\d*"
         (input)="_handleInput(parts.controls.part2, part3)"
         (keyup.arrowRight)="_handleInput(parts.controls.part2, part3)"
         (keyup.backspace)="autoFocusPrev(parts.controls.part2, part1)"
         (keyup.delete)="autoFocusPrev(parts.controls.part2, part1)"
         (keyup.arrowLeft)="autoFocusPrev(parts.controls.part2, part1)"
         #part2>
  <span class="phone-input-spacer">&nbsp;</span>
  <input class="phone-input-element"
         formControlName="part3"
         maxLength="2"
         size="2"
         aria-label="Digit 6-7"
         inputmode="numeric"
         pattern="\d*"
         (input)="_handleInput(parts.controls.part3, part4)"
         (keyup.arrowRight)="_handleInput(parts.controls.part3, part4)"
         (keyup.backspace)="autoFocusPrev(parts.controls.part3, part2)"
         (keyup.delete)="autoFocusPrev(parts.controls.part3, part2)"
         (keyup.arrowLeft)="autoFocusPrev(parts.controls.part3, part2)"
         #part3>
  <span class="phone-input-spacer">&nbsp;</span>
  <input class="phone-input-element"
         formControlName="part4"
         maxLength="2"
         size="2"
         aria-label="Digit 8-9"
         inputmode="numeric"
         pattern="\d*"
         (input)="_handleInput(parts.controls.part4)"
         (keyup.arrowRight)="_handleInput(parts.controls.part4)"
         (keyup.backspace)="autoFocusPrev(parts.controls.part4, part3)"
         (keyup.delete)="autoFocusPrev(parts.controls.part4, part3)"
         (keyup.arrowLeft)="autoFocusPrev(parts.controls.part4, part3)"
         #part4>
</div>
