$mobile-break: 500;
$tablet-break: 900;
$desktop-break: 1200;



@mixin mobile-xs {
  @media screen and (max-width: #{$mobile-break}px) { @content; }
}

@mixin mobile-xl {
  @media screen and (min-width: #{$mobile-break}px) and (max-width: #{$tablet-break}px) { @content; }
}

@mixin mobile-all {
  @media screen and (max-width: #{$tablet-break}px) { @content; }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-break}px) and (max-width: #{$desktop-break}px){ @content; }
}

@mixin tablet-and-desktop() {
  @media screen and (max-width: #{$desktop-break}px) { @content; }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-break}px) { @content; }
}

@mixin tablet-and-desktop() {
  @media screen and (min-width: #{$tablet-break}px) { @content; }
}
