// -------------------- HELPER COLORS --------------------
$alpha: #fff;

$white: #fff;
$black: #141414;

$border: #e7e7e7;
$border-dark: #9b9b9b;

// -------------------- BASE PURPLE COLORS --------------------
$purple: #aa80d8;
$purple-palette: (
  50 : #f5f0fa,
  100 : #e6d9f3,
  200 : #d5c0ec,
  300 : #c4a6e4,
  400 : #b793de,
  500 : #aa80d8,
  600 : #a378d4,
  700 : #996dce,
  800 : #9063c8,
  900 : #7f50bf,
  A100 : #ffffff,
  A200 : #f3ebff,
  A400 : #d5b8ff,
  A700 : #c69eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-purple: #ceb8e5;
$light-purple-palette: (
  50 : #f9f6fc,
  100 : #f0eaf7,
  200 : #e7dcf2,
  300 : #ddcded,
  400 : #d5c3e9,
  500 : #ceb8e5,
  600 : #c9b1e2,
  700 : #c2a8de,
  800 : #bca0da,
  900 : #b091d3,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #f5ebff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// -------------------- BASE BLUE COLORS --------------------
$blue: #596aca;
$blue-palette: (
  50 : #ebedf9,
  100 : #cdd2ef,
  200 : #acb5e5,
  300 : #8b97da,
  400 : #7280d2,
  500 : #596aca,
  600 : #5162c5,
  700 : #4857bd,
  800 : #3e4db7,
  900 : #2e3cab,
  A100 : #eff0ff,
  A200 : #bcc3ff,
  A400 : #8995ff,
  A700 : #6f7eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-blue: #9bebe7;
$light-blue-palette: (
  50 : #f3fdfc,
  100 : #e1f9f8,
  200 : #cdf5f3,
  300 : #b9f1ee,
  400 : #aaeeeb,
  500 : #9bebe7,
  600 : #93e9e4,
  700 : #89e5e0,
  800 : #7fe2dd,
  900 : #6dddd7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #eefffe,
  A700 : #d4fffd,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// -------------------- BASE GRAY COLORS --------------------
$gray: #222222;
$gray-palette: (
  50 : #e4e4e4,
  100 : #bdbdbd,
  200 : #919191,
  300 : #646464,
  400 : #434343,
  500 : #222222,
  600 : #1e1e1e,
  700 : #191919,
  800 : #141414,
  900 : #0c0c0c,
  A100 : #e76c6c,
  A200 : #e04040,
  A400 : #ec0000,
  A700 : #d30000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$gray-light: #4d4d4d;
$gray-palette: (
  50 : #e4e4e4,
  100 : #bdbdbd,
  200 : #919191,
  300 : #646464,
  400 : #434343,
  500 : #222222,
  600 : #1e1e1e,
  700 : #191919,
  800 : #141414,
  900 : #0c0c0c,
  A100 : #e76c6c,
  A200 : #e04040,
  A400 : #ec0000,
  A700 : #d30000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
