<mat-sidenav-container id="chatbox">
  <mat-sidenav mode="side" id="chatbox-room-list" opened>
    <mat-list>
      <div *ngFor="let room of rooms">
        <mat-list-item [class.active]="isRoomActive(room)">{{room.name}}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="chatbox-room">
      <div id="chatbox-room-header">

      </div>
      <div id="chatbox-room-chat">
        <div id="chatbox-room-chat-content">

          <div *ngFor="let msg of messages" class="message-box" [class.me]="isMessageMine(msg)">
            <span class="message-time">{{msg.time}}</span>
            <span class="message">{{msg.content}}</span>
          </div>

        </div>
      </div>
      <div id="chatbox-room-input">

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Type your message" style="resize: none;"></textarea>
        </mat-form-field>

        <button mat-stroked-button color="primary">
          Send
          <mat-icon matSuffix>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

