html {
  background-image: url(/assets/background.png);

  @include desktop {
    background-image: url(/assets/background-short.png);
  }

  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background);

  background-position: 0 200%;
  animation: animatedBackground 0.75s linear 0.1s forwards;
}

// Animation: raise background img from bottom
@keyframes animatedBackground {
  from {
    background-position: 0 200%;
  }
  to {
    background-position: bottom;
  }
}
