<h1 mat-dialog-title class="title">
  <span *ngIf="periodInSameYear() && periodInSameMonth()">{{data.start|date: 'd'}} au {{data.end|date: 'd MMMM'}}</span>
  <span *ngIf="periodInSameYear() && !periodInSameMonth()">{{data.start|date: 'd MMMM'}} au {{data.end|date: 'd MMMM'}}</span>
  <span *ngIf="!periodInSameYear()">{{data.start|date: 'd MMMM YYYY'}} au {{data.end|date: 'd MMMM YYYY'}}</span>
</h1>

<div mat-dialog-content class="content">
  <mat-progress-bar mode="indeterminate" *ngIf="planning === undefined || loading"></mat-progress-bar>
  <div *ngIf="planning !== undefined">
    <h2>{{data.location|flyLocation|uppercase}}</h2>

    <section *ngFor="let hourPlanning of planning|keyvalue">
      <div class="header">
        <mat-checkbox
          color="primary"
          checked="true">
          <div class="time">{{hourPlanning.key}}</div>
        </mat-checkbox>

        <div class="label">{{hourPlanning.value.length}}  disponibilités</div>
      </div>

      <app-preview-slots-list [slots]="hourPlanning.value"></app-preview-slots-list>
    </section>
  </div>
</div>

<div mat-dialog-actions class="modal-buttons">
  <button mat-button (click)="closeModal()">Annuler</button>

  <button
    mat-flat-button
    color="primary"
    [class.spinner]="loading"
    [disabled]="loading"
    (click)="onSubmit()">
    Valider
  </button>
</div>
