<div class="app-page page-connect background-registerCustomer">
  <nav>
    <app-navigation></app-navigation>
  </nav>

  <header>
    <h1 class="connect-title">Inscription Client</h1>
  </header>

  <main>
    <div>
      <mat-card>
        <mat-card-content>
          <div class="connect-container">
            <app-register-customer></app-register-customer>

            <p class="right">
              <a class="primary extra-link" routerLink="/login">Vous avez déjà un compte ?</a>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </main>

  <footer>
    <div class="bottom-overlay" [class.hide]="!showOverlay">
      <button
        mat-flat-button
        color="accent"
        (click)="hideOverlay()"
        routerLink="/monitor/register">
        <mat-icon>verified</mat-icon>
        Devenir moniteur
      </button>
    </div>
  </footer>
</div>


