<mat-progress-bar mode="indeterminate" *ngIf="loading" class="top-loader"></mat-progress-bar>
<div class="page-container planning">

  <div class="planning-navigation">
    <button mat-icon-button aria-label="Semaine précédente" (click)="goPreviousWeek()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="center">Planning - {{selectedDate|date: 'MMMM'|titlecase}}</h1>
    <div>
      <button mat-icon-button aria-label="Revenir aujourd'hui" (click)="goToday()">
        <mat-icon>today</mat-icon>
      </button>
      <button mat-icon-button aria-label="Semaine suivante" (click)="goNextWeek()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

  </div>


  <div class="day-picker">
    <a class="day"
       *ngFor="let day of week.days"
       href="javascript:void(0)"
       [class.today]="today.getDate() === day.getDate()"
       [class.selected]="selectedDate.getDate() === day.getDate()"
       (click)="selectDate(day)">
      <div class="day-number">
        <span>{{day|date: 'd'}}</span>
      </div>
      <div class="day-name short">{{day|date: 'EE'|titlecase}}</div>
      <div class="day-name long">{{day|date: 'EEEE'|titlecase}}</div>
    </a>
  </div>

  <div class="agenda" *ngIf="!loading">
    <mat-accordion>

      <div *ngFor="let result of results | keyvalue">
        <app-planning-row [result]="result.value"></app-planning-row>
      </div>

    </mat-accordion>
  </div>
</div>
