@use "sass:map";

@import "colors";
@import "breakpoints";

.planning {
  .planning-header {

  }

  .planning-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;

      color: $blue;
      font-size: 2.5rem;
      font-weight: 500;
    }

    button {
      color: $blue
    }
  }

  .planning-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .week-selector {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        margin: 0;

        color: $purple;
        font-size: 1.5rem;
        font-weight: 500;
      }

      button {
        color: $purple
      }
    }

    button {
      text-align: center;
    }
  }

  .day-picker {
    margin: 32px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .day {
      width: 70px;
      text-decoration: none;

      .day-number {
        width: 32px;
        height: 32px;

        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        border-radius: 50%;
        border: 2px solid map.get($gray-palette, 200);

        color: map.get($gray-palette, 200);

        font-size: 1rem;
        font-weight: bold;
        font-family: monospace;
      }

      .day-name {
        color: map.get($gray-palette, 200);
        font-size: 1rem;
        font-weight: 500;

        text-align: center;

        &.short {
          display: none;
        }

        @include mobile-all {
          &.short {
            display: block;
          }

          &.long {
            display: none;
          }
        }
      }

      &.selected, &:hover {
        .day-number {
          border-color: $purple;
          color: $purple;
        }

        .day-name {
          color: $purple;
        }
      }

      &.today {
        .day-number {
          background: $blue;
          border-color: map.get($blue-palette, 200);
          color: $white;
        }

        .day-name {
          color: $blue;
        }

        &:hover, &.selected {
          .day-number {
            background: $purple;
            border-color: map.get($purple-palette, 200);
            color: $white;
          }

          .day-name {
            color: $purple;
          }
        }
      }
    }
  }

  .empty {
    background: rgba(250, 250, 250, 0.7);
    border-radius: 5px;

    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include mobile-all {
      flex-direction: column;
    }

    img {
      height: 250px;

      @include mobile-all {
        height: 100px;
      }
    }

    h2 {
      color: $purple;
      font-size: 1.5rem;
      font-weight: 500;
    }

    .empty-info {
      display: flex;
      flex-direction: column;
      align-content: space-evenly;
      align-items: center;

      color: $gray-light;

      .empty-instruction {
        color: $border-dark;
        font-size: 12px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .empty-instruction-icon {
          margin-right: 5px;
        }
      }

      .button {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}
