@import "scss/grid";
@import "breakpoints";
@import "colors";
@import "fonts";

// reset styles
html, body { height: 100%; }
body { margin: 0; font-family: $font-text; }

// setting background image
body {
  background-image: url(./assets/background.png);

  @include desktop {
    background-image: url(./assets/background-short.png);
  }

  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-position: 0 200%;
  animation: animatedBackground 0.75s linear 0.1s forwards;
}

@keyframes animatedBackground {
  from {
    background-position: 0 200%;
  }
  to {
    background-position: bottom;
  }
}

// import custom material styles
@import "scss/material";

// helpers
// helpers
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.full {
  width: 100%;
}

.marge {
  margin: 10px;
}

.hide {
  display: none;
}

.top-space {
  margin-top: 100px;

  @include tablet {
    margin-top: 80px;
  }

  @include mobile-all {
    margin-top: 50px;
  }
}

.alpha {
  color: $alpha;
}

.gray {
  color: $border-dark;
}

// breakpoint helper
.only-small-mobile {
  display: none;

  @include mobile-xs {
    display: block;
  }
}

.only-mobile {
  display: none;

  @include mobile-all {
    display: block;
  }
}

.only-tablet {
  display: none;

  @include tablet {
    display: block;
  }
}

.only-desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.hide-on-small-mobile {
  @include mobile-xs {
    display: none;
  }
}

.hide-on-mobile {
  @include mobile-all {
    display: none;
  }
}

.hide-on-tablet {
  @include tablet {
    display: none;
  }
}

.hide-on-desktop {
  @include desktop {
    display: none;
  }
}

// avoid selection on app
@include tablet-and-desktop() {
  * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }
}
