// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,200);
@import url(https://fonts.googleapis.com/css2?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&display=swap);

// Variables
@import "scss/grid";
@import "breakpoints";
@import "colors";
@import "fonts";

// reset styles
html, body { height: 100%; }
body { margin: 0; font-family: $font-text; }

// setting background image
html {
  background-image: url(./assets/background.png);

  @include desktop {
    background-image: url(./assets/background-short.png);
  }

  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-position: 0 200%;
  animation: animatedBackground 0.75s linear 0.1s forwards;
}

// page-container
.page-container {
  max-width: 800px;
  margin: 0 auto;

  padding: 20px;
}

@keyframes animatedBackground {
  from {
    background-position: 0 200%;
  }
  to {
    background-position: bottom;
  }
}

// import custom material styles
@import "scss/material";

// helpers
// helpers
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.full {
  width: 100%;
}

.marge {
  margin: 10px;
}

.hide {
  display: none;
}

.top-space {
  margin-top: 100px;

  @include tablet {
    margin-top: 80px;
  }

  @include mobile-all {
    margin-top: 50px;
  }
}

.alpha {
  color: $alpha;
}

.gray {
  color: $border-dark;
}

// breakpoint helper
.only-small-mobile {
  display: none;

  @include mobile-xs {
    display: block;
  }
}

.only-mobile {
  display: none;

  @include mobile-all {
    display: block;
  }
}

.only-tablet {
  display: none;

  @include tablet {
    display: block;
  }
}

.only-desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.hide-on-small-mobile {
  @include mobile-xs {
    display: none;
  }
}

.hide-on-mobile {
  @include mobile-all {
    display: none;
  }
}

.hide-on-tablet {
  @include tablet {
    display: none;
  }
}

.hide-on-desktop {
  @include desktop {
    display: none;
  }
}

// avoid selection on app
@include tablet-and-desktop() {
  * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }
}

// mat-stepper
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #aa80d8 !important;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent !important;
}

// button spinner
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: $purple;
  animation: spinner .8s linear infinite;
}

// mat-drawer
.mat-drawer-container {
  background: transparent;
}
