@use '@angular/material' as mat;

// define palettes
$palette-purple: (
  50 : #f9f6fc,
  100 : #f0eaf7,
  200 : #e7dcf2,
  300 : #ddcded,
  400 : #d5c3e9,
  500 : #ceb8e5,
  600 : #c9b1e2,
  700 : #c2a8de,
  800 : #bca0da,
  900 : #b091d3,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #f5ebff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-blue: (
  50 : #f3fdfc,
  100 : #e1f9f8,
  200 : #cdf5f3,
  300 : #b9f1ee,
  400 : #aaeeeb,
  500 : #9bebe7,
  600 : #93e9e4,
  700 : #89e5e0,
  800 : #7fe2dd,
  900 : #6dddd7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #eefffe,
  A700 : #d4fffd,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// resetting everything
* *:before, *:after {
  margin: 0;
  padding: 0;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat.core();

// Define a light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette($palette-purple),
    accent: mat.define-palette($palette-blue),
  ),
));

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply the light theme only when the users prefers light themes.
@media (prefers-color-scheme: dark) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
}

// Apply the light theme by default
@include mat.core-color($light-theme);
@include mat.button-color($light-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

body {
  font-family: $font-text;
}

mat-label {
  font-family: $font-text;
}

.mat-button-wrapper, .mat-option-text {
  font-family: $font-text;
}

h1, h2, h3, h4, h5, .title, mat-card-title {
  font-family: $font-title;
  font-weight: normal;
}

h1 {
  font-size: 20px;
}

div, p, a, .text {
  font-family: $font-text;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.wrapper {
  margin: 3%;
}

.full-width {
  width: 100%;
}

.mat-slider-track-background,
.mat-slider:hover .mat-slider-track-background {
  background: #eeeeee;
}

.mat-slider-thumb {
  background-color: #ffffff !important;
  border-color: rgba(0, 0, 0, 0.38) !important;
}

.mat-step-label {
  font-family: $font-title;
  font-size: 20px;
  text-transform: capitalize;
}

.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, .3) !important;
}

hr {
  border-color: 1px solid #eee;
}

.full {
  width: 100%;
}

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #607d8b;
}

// TimePiker
.timepicker {
  --body-background-color: #fff;
  --primary-font-family: $font-text;
  --button-color: #607d8b;
  --dial-active-color: #fff;
  --dial-inactive-color: rgba(255, 255, 255, .5);
  --dial-background-color: #607d8b;
  --clock-face-time-active-color: #fff;
  --clock-face-time-inactive-color: #6c6c6c;
  --clock-face-inner-time-inactive-color: #929292;
  --clock-face-time-disabled-color: #c5c5c5;
  --clock-face-background-color: #f0f0f0;
  --clock-hand-color: #607d8b;

  .timepicker-dial__control:focus {
    outline: none;
  }
}

// material calendar

.mat-calendar-body-cell-content {
  border-radius: 0 !important;
}


// avoid selection on app
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}
