<form
  [ngClass]="{'shake-on-error form-error': shaking && hasErrorInForm()}"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input
      matInput
      required
      autofocus
      type="text"
      formControlName="username"
      autocomplete="email"
      tabindex="1">
    <mat-icon matSuffix>mail</mat-icon>
    <mat-error *ngIf="hasError(getUsername())">
            <span *ngIf="getUsername()?.errors?.['required']">
              Entre ton email
            </span>
      <span *ngIf="getUsername()?.errors?.['email']">
              Entre une adresse email valide
            </span>
      <span *ngIf="getUsername()?.errors?.['used']">
              Un compte existe déjà pour cette adresse.
              <a routerLink="/login" [queryParams]="{username: getUsername()?.value}" class="forgot-password">essayer de vous connecter ?</a>
            </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input
      matInput
      required
      #password
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      autocomplete="password"
      placeholder="Mot de passe"
      tabindex="2">
    <mat-icon
      matSuffix
      (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'">
      {{hidePassword ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <mat-error *ngIf="hasError(getPassword())">
      Entre ton mot de passe !
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Confirmation</mat-label>
    <input
      matInput
      required
      #password
      [type]="hidePassword2 ? 'password' : 'text'"
      formControlName="password2"
      autocomplete="password_repeat"
      placeholder="Comfirmes ton mot de passe"
      tabindex="3">
    <mat-icon
      matSuffix
      (click)="hidePassword2 = !hidePassword2" [attr.aria-label]="'Hide password'">
      {{hidePassword2 ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <mat-error *ngIf="hasError(getPassword2())">
          <span *ngIf="getPassword2()?.errors?.['required']">
            Comfirmes ton mot de passe !
          </span>
      <span *ngIf="getPassword2()?.errors?.['different']">
            Les mots de passe ne correspondent pas
          </span>
    </mat-error>
  </mat-form-field>


  <div class="center">
    <button
      *ngIf="!showLoader"
      [disabled]="registerForm.invalid"
      mat-flat-button
      color="primary"
      type="submit"
      tabindex="4">
      S'inscrire
    </button>
    <mat-spinner *ngIf="showLoader"
                 diameter="37"
                 style="margin: 0 auto">
    </mat-spinner>
  </div>
</form>
