@use "sass:map";

@import "colors";
@import "breakpoints";
@import "toolbar";
@import "theme";

// toolbar
.logo {
  padding: 0 14px;
  height: calc(#{$toolbar-desktop} - 10px);

  @include tablet() {
    width: auto;
    height: calc(#{$toolbar-tablet} - 15px);
  }

  @include mobile-all() {
    width: auto;
    height: calc(#{$toolbar-mobile} - 15px);
  }
}

.navigation-button {
  width: 48px;
}

.toolbar {
  @include theme-light() {
    background-color: map-get($gray, 0);
    border-bottom: 1px solid map-get($gray, 100);
    color: #333;
  }

  z-index: 10;

  position: fixed;
  top: 0;

  padding: 0;

  transform: translateY(-100%);
  animation: slide-in 1s 0.5s forwards;

  .row {
    width: auto;
  }

  &.fadeOut {
    opacity: 0;
    transition: all 3s ease-in-out;
  }

  .mat-toolbar-row {
    height: $toolbar-desktop;

    @include tablet() {
      height: $toolbar-tablet;
    }

    @include mobile-all() {
      height: $toolbar-mobile;
    }
  }
}

.space-between{
  display: flex;
  justify-content: space-between;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}
