<mat-toolbar class="toolbar" [ngClass]="{'fadeOut': false}">
  <mat-toolbar-row class="space-between">

    <div class="navigation-button"  *ngIf="showMenuButton">
      <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
        <mat-icon *ngIf="isMenuOpen">chevron_left</mat-icon>
        <mat-icon *ngIf="!isMenuOpen">menu</mat-icon>
      </button>
    </div>

    <div>
      <a routerLink="/search" *ngIf="showLogo">
        <img class="logo" src="assets/logo.png" alt="Logo">
      </a>
    </div>

    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
      <mat-icon *ngIf="getBadgeCount() === 0">menu</mat-icon>
      <mat-icon *ngIf="getBadgeCount() !== 0" [matBadge]="getBadgeCount()">person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngIf="!isLogged()">
        <button mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Connexion</span>
        </button>
        <button mat-menu-item routerLink="/customer/register">
          <mat-icon>person_add</mat-icon>
          <span>S'inscrire</span>
        </button>
      </div>

      <!-- Customer -->

      <div *ngIf="isLoggedCustomer">
        <button mat-menu-item routerLink="/chat">
          <mat-icon *ngIf="getBadgeCountForMessage() === 0">chat</mat-icon>
          <mat-icon *ngIf="getBadgeCountForMessage() !== 0" [matBadge]="getBadgeCountForMessage()">chat</mat-icon>
          <span>Messages</span>
        </button>
        <button mat-menu-item routerLink="/customer/booking" disabled>
          <mat-icon *ngIf="getBadgeCountForBooking() === 0">event</mat-icon>
          <mat-icon *ngIf="getBadgeCountForBooking() !== 0" [matBadge]="getBadgeCountForBooking()">event</mat-icon>
          <span>Réservations</span>
        </button>
        <hr>
        <button mat-menu-item routerLink="/customer/account">
          <mat-icon>person</mat-icon>
          <span>Mon compte</span>
        </button>
        <button mat-menu-item (click)="openLogoutDialog()">
          <mat-icon>logout</mat-icon>
          <span>Se déconnecter</span>
        </button>
      </div>

      <!-- Monitor -->

      <div *ngIf="isLoggedMonitor">
        <button mat-menu-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Tableau de bord</span>
        </button>
        <button mat-menu-item routerLink="/planning">
          <mat-icon>calendar_month</mat-icon>
          <span>Planning</span>
        </button>
        <hr>
        <button mat-menu-item routerLink="/chat">
          <mat-icon *ngIf="getBadgeCountForMessage() === 0">chat</mat-icon>
          <mat-icon *ngIf="getBadgeCountForMessage() !== 0" [matBadge]="getBadgeCountForMessage()">chat</mat-icon>
          <span>Messages</span>
        </button>
        <button mat-menu-item routerLink="/monitor/booking" disabled>
          <mat-icon *ngIf="getBadgeCountForBooking() === 0">today</mat-icon>
          <mat-icon *ngIf="getBadgeCountForBooking() !== 0" [matBadge]="getBadgeCountForBooking()">today</mat-icon>
          <span>Réservations</span>
        </button>
        <hr>
        <button mat-menu-item routerLink="/monitor/account">
          <mat-icon>person</mat-icon>
          <span>Mon compte</span>
        </button>
        <button mat-menu-item (click)="openLogoutDialog()">
          <mat-icon>logout</mat-icon>
          <span>Se déconnecter</span>
        </button>
      </div>

    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
