<mat-toolbar class="toolbar" [ngClass]="{'fadeOut': false}">
  <mat-toolbar-row class="space-between">
    <!-- 'absorbs' the auto-focus behavior -->
    <button mat-button style="height: 0; position: absolute;" aria-label="disable-auto-focus"></button>

    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/home">
      <img class="logo" src="/assets/logo.png" height="50">
    </a>

    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
      <mat-icon *ngIf="getBadgeCount() === 0">app_registration</mat-icon>
      <mat-icon *ngIf="getBadgeCount() !== 0" [matBadge]="getBadgeCount()">face</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngIf="!isLogged()">
        <button mat-menu-item routerLink="/users/login">
          <mat-icon>login</mat-icon>
          <span>Connexion</span>
        </button>
        <button mat-menu-item routerLink="/users/register">
          <mat-icon>person_add</mat-icon>
          <span>Inscription</span>
        </button>
      </div>

      <div *ngIf="isLogged()">
        <button mat-menu-item routerLink="/user/account">
          <mat-icon>person</mat-icon>
          <span>Mon compte</span>
        </button>
        <button mat-menu-item routerLink="/user/chat">
          <mat-icon *ngIf="getBadgeCountForMessage() === 0">chat</mat-icon>
          <mat-icon *ngIf="getBadgeCountForMessage() !== 0" [matBadge]="getBadgeCountForMessage()">chat</mat-icon>
          <span>Mes Messages</span>
        </button>
        <button mat-menu-item routerLink="/user/booking" disabled>
          <mat-icon *ngIf="getBadgeCountForBooking() === 0">event</mat-icon>
          <mat-icon *ngIf="getBadgeCountForBooking() !== 0" [matBadge]="getBadgeCountForBooking()">event</mat-icon>
          <span>Mes réservations</span>
        </button>
        <button mat-menu-item (click)="openLogoutDialog()">
          <mat-icon>logout</mat-icon>
          <span>Se déconnecter</span>
        </button>
      </div>

    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
