<mat-toolbar class="toolbar" [ngClass]="{'fadeOut': false}">
  <mat-toolbar-row class="space-between">
    <!-- 'absorbs' the auto-focus behavior -->
    <button mat-button style="height: 0; position: absolute;" aria-label="disable-auto-focus"></button>

    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/home">
      <img class="logo" src="assets/logo.png">
    </a>

    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
      <mat-icon *ngIf="getBadgeCount() === 0">app_registration</mat-icon>
      <mat-icon *ngIf="getBadgeCount() !== 0" [matBadge]="getBadgeCount()">face</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngIf="!isLogged()">
        <button mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Connexion</span>
        </button>
        <button mat-menu-item routerLink="/customer/register">
          <mat-icon>person_add</mat-icon>
          <span>Inscription</span>
        </button>
        <hr>
        <button mat-menu-item routerLink="/monitor/register">
          <mat-icon>verified</mat-icon>
          <span>Devenir Moniteur</span>
        </button>
      </div>

      <!-- Customer -->

      <div *ngIf="isLoggedCustomer()">
        <button mat-menu-item routerLink="/chat">
          <mat-icon *ngIf="getBadgeCountForMessage() === 0">chat</mat-icon>
          <mat-icon *ngIf="getBadgeCountForMessage() !== 0" [matBadge]="getBadgeCountForMessage()">chat</mat-icon>
          <span>Messages</span>
        </button>
        <button mat-menu-item routerLink="/customer/booking" disabled>
          <mat-icon *ngIf="getBadgeCountForBooking() === 0">event</mat-icon>
          <mat-icon *ngIf="getBadgeCountForBooking() !== 0" [matBadge]="getBadgeCountForBooking()">event</mat-icon>
          <span>Réservations</span>
        </button>
        <hr>
        <button mat-menu-item routerLink="/customer/account">
          <mat-icon>person</mat-icon>
          <span>Mon compte</span>
        </button>
        <button mat-menu-item (click)="openLogoutDialog()">
          <mat-icon>logout</mat-icon>
          <span>Se déconnecter</span>
        </button>
      </div>

      <!-- Monitor -->

      <div *ngIf="isLoggedMonitor()">
        <button mat-menu-item routerLink="/monitor/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Tableau de bord</span>
        </button>
        <hr>
        <button mat-menu-item routerLink="/chat">
          <mat-icon *ngIf="getBadgeCountForMessage() === 0">chat</mat-icon>
          <mat-icon *ngIf="getBadgeCountForMessage() !== 0" [matBadge]="getBadgeCountForMessage()">chat</mat-icon>
          <span>Messages</span>
        </button>
        <button mat-menu-item routerLink="/monitor/booking" disabled>
          <mat-icon *ngIf="getBadgeCountForBooking() === 0">today</mat-icon>
          <mat-icon *ngIf="getBadgeCountForBooking() !== 0" [matBadge]="getBadgeCountForBooking()">today</mat-icon>
          <span>Réservations</span>
        </button>
        <hr>
        <button mat-menu-item routerLink="/monitor/calendar">
          <mat-icon>calendar_month</mat-icon>
          <span>Disponibilité</span>
        </button>
        <button mat-menu-item routerLink="/monitor/account">
          <mat-icon>person</mat-icon>
          <span>Mon compte</span>
        </button>
        <hr>
        <button mat-menu-item (click)="openLogoutDialog()">
          <mat-icon>logout</mat-icon>
          <span>Se déconnecter</span>
        </button>
      </div>

    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
