@mixin fade-in($time) {
  opacity: 0;
  animation: fade-in $time linear forwards;
}

@mixin fade-in-keyframes() {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
