@import "colors";
@import "breakpoints";

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .icon {
    text-align: center;
    width: 64px;

    @include mobile-xs() {
      width: 40px;
    }
  }

  .base {
    color: var(--text-light);
  }

  .disclaimer {
    color: var(--text);
  }
}
