@use "sass:map";

@import "colors";

.chat-list {
  h1 {
    margin: 20px;

    color: map-get($blue, 500);
    font-size: 1.5rem;

    text-transform: uppercase;
    text-align: center;
  }

  .chat-room-title {
    height: auto;
    padding: 10px 20px;

    .overview {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img.avatar {
        width: 60px;
        height: 60px;

        padding-right: 20px;
        border-radius: 50%;
      }

      .infos {
        .participant {
          font-size: 20px;
          font-weight: 500;

          color: map-get($purple, 500);;
        }

        .last-message {
          font-size: 12px;
          color: map-get($gray, 200);
        }
      }
    }

    &.active, &:hover {
      cursor: pointer;
      background: map.get($purple, 100);

      .last-message {
        color: map-get($gray, 400);
      }
    }
  }
}

